/* Ensure everything takes 80% width */
.article-container {
    max-width: 90vw;
    width: 90% !important;
    margin: auto;
    font-size: 5px;
}

#featureproject {
    padding: 20px;
    border-radius: 10px;
}

#projectoverview {
    background-color: #e9f7cd !important;
}


blockquote {
    font-style: normal !important;
    font-weight: normal !important;
}