/* Ensure everything takes 80% width */
.article-container {
    max-width: 90vw;
    width: 90% !important;
    margin: auto;
    font-size: 5px;
}

#featureproject {
    background-color: #e9f7cd !important;
    padding: 20px;
    border-radius: 10px;
}

#projectoverview {
    background-color: #e9f7cd !important;
}

#socialattn {
    background-color: #94ca999d !important;
}

#sociallearn {
    background-color: #8de2ba67 !important;
}

#recipe {
    background-color: #fad9eada !important;
}

blockquote {
    font-style: normal !important;
    font-weight: normal !important;
}


:root {
    --line-height:1.1em;
    --post-width:960px;
    --monospace: monospace;
}
.main.post {
    --main-width:880px;
    position: relative;
	min-height: calc(100vh - var(--header-height) - var(--footer-height));
	max-width: calc(var(--main-width) + var(--gap) * 2);
	margin: auto;
    margin-right: 50px;
	padding: var(--content-gap)var(--gap)0;
}

.post-content {
	font-size: 14px;
    line-height: 1.2em;
	color: var(--content);
}